.weather-app {
  margin: 30px 0;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 130px;
}

.cardstyle {
  position: relative;
  left: 550px;
  top: 50px;
}
h5 {
  font-weight: bold;
}
p,
h5 {
  margin-top: 10px;
  margin-bottom: -10px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

#temperature {
  font-size: 25px;
  text-align: center;
}
.units {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
nav {
  position: relative;
  top: -150px;
  left: 30px;
}

.emoji {
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
}

h6 {
  text-align: center;
}

#current-position {
  margin-left: 5px;
}

.link {
  display: block;
  margin-top: 40px;
  margin-left: 450px;
}
.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
